@model RegisterViewModel

@section StyleSheet {
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Register.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Register.js"></script>
}

@section Title {
    Register
}
<div class="row loginHeader">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form asp-controller="User" asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" placeholder="-enter your first name-" class="form-control" />
                <span asp-validation-for="FirstName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" placeholder="-enter your last name-" class="form-control" />
                <span asp-validation-for="LastName" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="-enter your email address-" class="form-control" />
                <span asp-validation-for="Email" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" placeholder="-enter a username-" class="form-control" />
                <span asp-validation-for="Username" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="-enter a password-" class="form-control" type="password" />
                <span asp-validation-for="Password" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" placeholder="-enter the password again-" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <div class="registerAccount">
                <a asp-controller="User" asp-action="Register">Create new account</a>
            </div>    
            <button type="submit" class="btn btn-primary">Register</button>
            <div>
                @Html.ValidationMessage("invalid-user", new { @class = "error" })
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>