.loginHeader {
    margin-top: 40px;
}

.registerAccount {
    margin-top: 10px;
    margin-bottom: 10px;

    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    
}

.error {
    color: red;
}